<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <ul class="head">
            <a href="/login" class="btn">Login</a>
            <a href="contactus" class="btn">Contact us</a>  
        </ul>
    </nav>
        <main class="main">
            <form action="/" onsubmit="document.getElementById('username').value=localStorage.getItem('username')" method="POST" >
                <input type="text" name="message"/>
                <input type="hidden" name="username" id="username"/>
                <button type="submit">Submit</button>
            </form>
        </main>
</body>
</html>